includes:
	- phpstan-baseline.neon

parameters:
    ignoreErrors:
        - identifier: missingType.iterableValue
        # Bad phpdoc in library
        - '#\$toxicity of method Ihsw\\Toxiproxy\\Proxy::create\(\) expects string, float given\.#'
